# Binaries
bin/
obj/

# Visual Studio temp files, build results, and project outputs
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio user-specific files
*.csproj.user

# Visual Studio cache files
*.VC.db

# Package directories
packages/
*.nuget

# Project config files
*.suo
*.sln
*.user
*.vspscc
*.vssscc

# Solution user options file
*.sln.user

# .NET runtime and .NET Core assets
*.dll
*.exe
*.pdb
*.runtimeconfig.json

# Node.js dependencies
node_modules/

# Build Artifacts
*.nupkg
*.zip

# Config Directory
Config/myconfig.json